
<div class="container-fluid">
    <div class="dugmeZaDodavanje">
        <button ng-click="otvoriDodavanjeNoveTeme()" ng-show="ulogovan">Dodaj temu</button>
    </div>
</div>
<div class="container-fluid">
    
    <div class="levo">
        <table border="1" class="tabela">
            <tr>
                <th class="oboj">Naziv:</th>

            </tr>
            <tr>
                <td>{{podforum.Naziv}}</td>
            </tr>
        </table>


        <table border="1" class="tabela">
            <tr>
                <th class="oboj">Opis:</th>

            </tr>
            <tr>
                <td>{{podforum.Opis}}</td>
            </tr>
        </table>


        <table border="1" class="tabela">
            <tr>
                <th class="oboj">Spisak pravila:</th>

            </tr>
            <tr>
                <td>{{podforum.SpisakPravila}}</td>
            </tr>
        </table>

        <table border="1" class="tabela">
            <tr>
                <th class="oboj">Ikonica:</th>
            </tr>
            <tr>
                <td>{{podforum.Ikonica}}</td>
            </tr>

        </table>

        <table border="1" class="tabela">
            <tr>
                <th class="oboj">Moderator:</th>

            </tr>
            <tr>
                <td>{{podforum.Moderator}}</td>
            </tr>
        </table>

        <table border="1" class="tabela">
            <tr>
                <th class="oboj">Moderatori:</th>

            </tr>
            <tr>
                <td>{{podforum.Moderatori}}</td>
            </tr>
        </table>
    </div>

    <div class="levo">
        <h3>Teme</h3>
        <div class="teme" ng-repeat="tema in temePodforuma">
            <div class="tema">
                <h3><a href="#!/podforumi/{{podforum.Naziv}}/{{tema.Naslov}}">{{tema.Naslov}}</a></h3>
                <p>{{tema.Tip}}</p>
            </div>
            
        </div>
    </div>
</div>



