@{ 
    Layout = null;
}
<html ng-app="forum">
<head>
    <title>Web projekat</title>
    <link href="../../Content/stilovi/bootstrap.min.css" rel="stylesheet" />
    <link href="../../Content/stilovi/glavniStil.css" rel="stylesheet" />
</head>
<body>
    
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#!/podforumi">Forum</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Podforumi</a></li>
                    <li><a href="#">Teme</a></li>
                    <li><a href="#">Jos nesto</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Neka opcija</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div ng-view></div>

    <script src="../../Scripts/js/jquery-1.10.2.min.js"></script>
    <script src="../../Scripts/js/bootstrap.min.js"></script>
    <script src="../../Scripts/js/angular.min.js"></script>
    <script src="../../Scripts/js/angular-route.min.js"></script>
    <script src="../../MojaAplikacija/app.js"></script>
    <script src="../../MojaAplikacija/kontroleri/PodforumiController.js"></script>
    <script src="../../MojaAplikacija/kontroleri/AutentifikacijaController.js"></script>
</body>
</html>