@{ 
    Layout = null;
}
<html ng-app="forum">
<head>
    <title>Web projekat</title>
    <link href="../../Content/stilovi/bootstrap.min.css" rel="stylesheet" />
    <link href="../../Content/stilovi/glavniStil.css" rel="stylesheet" />
</head>
<body>
    <h1>CELA APLIKACIJA</h1>

    <div ng-view></div>

    <script src="../../Scripts/js/jquery-1.10.2.min.js"></script>
    <script src="../../Scripts/js/bootstrap.min.js"></script>
    <script src="../../Scripts/js/angular.min.js"></script>
    <script src="../../Scripts/js/angular-route.min.js"></script>
    <script src="../../MojaAplikacija/app.js"></script>
</body>
</html>